<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
 
        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/MediaStore</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">tanzen12</property>
 
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
 
        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>
 
        <!-- Update database on startup -->
        <property name="hibernate.hbm2ddl.auto">validate</property>
        
         
        <!-- Annotated entity classes -->
        <mapping class="tables.Product"/>
        <mapping class="tables.Book"/>
        <mapping class="tables.Music"/>
        <mapping class="tables.Dvd"/>
        <mapping class="tables.Author"/>
        <mapping class="tables.Artist"/>
        <mapping class="tables.MusicTitle"/>
        <mapping class="tables.InvolvedPersons"/>
        <mapping class="tables.Category"/>
        <mapping class="tables.ProductCategory"/>
        <mapping class="tables.SimilarProducts"/>
        <mapping class="tables.Branch"/>
        <mapping class="tables.Offer"/>
        <mapping class="tables.Customer"/>
        <mapping class="tables.Purchase"/>
        <mapping class="tables.Review"/>

        
    </session-factory>
</hibernate-configuration>